@font-face {
  font-family: 'Norwester-Regular';
  src: local('Norwester-Regular'), local('Norwester-Regular'), url('Norwester-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}