code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* dark-mode.css */
body {
  background-color: #222;
  color: #fff;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
}

#homePageSubmitButton{
  margin-top: 1%;
}