body {
  margin: 0;
  background-color: black;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.homePageDiv{
  background-color: black;
}

.homePageLogoDiv{
  display: flex;
  justify-content: center;
  height: 170px;
  margin-top: 10%;
}

.searchBarDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px; /* Adjust the margin as needed */
}

.searchBar {
  width: 500px; /* Adjust the width as needed */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px; /* Rounded corners */
  font-size: 16px;
  outline: none; /* Remove the outline when focused */
}

/* Style for the input when focused */
.searchBar:focus {
  border-color: #007BFF; /* Change the border color when focused */
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Add a subtle shadow when focused */
}

.suggestedPlayersDiv {
  font-family: 'Norwester';
  display: flex;
  justify-content: center;
  flex-direction: row;
  max-height: 300px;
  overflow: scroll;
}

.playersTable {
  max-width: 28%;
}

.playersRow {
  justify-content: center;
  display: flex;
  flex-direction: row;
  border: solid black 2px;
  border-radius: 7%;
  background-color: white;
  max-height: 90px;
}

.playersRow:hover{
  background-color: #d9d9d9;
  cursor: pointer;
}

.teamLogoCell {
  text-align: center;
  width: 20%;
  margin-left: -15%; /* Reduce the margin to align the logo */
  margin-top: 2%;
}

.teamLogo {
  max-width: 75%;
}

.playerNameCell {
  font-size: 140%;
  margin-top: 4%;
  width: 40%;
  margin-right: 2%; /* Reduce the margin to align the name */
}

.playerPositionCell {
  font-size: 120%;
  margin-top: 5%;
  margin-left: -2%;
  margin-right: -14%;
  color: #6f6e6e;
}
