@import 'fonts/fonts.css';

body {
  margin: 0;
  background-color: black;
  font-family: 'Norwester-Regular';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code, pre {
  font-family: 'Norwester-Regular', source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.homePageDiv{
  background-color: black;
}

.homePageLogoDiv{
  display: flex;
  justify-content: center;
  height: 170px;
  margin-top: 10%;
}

.searchBarDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.searchBarDiv2 {
  display: flex;
  justify-content: right;
  margin-top: 20px;
}

.searchBar {
  width: 500px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 16px;
  outline: none;  
  font-family: 'Norwester-Regular';
  transition: transform 0.2s ease-in-out;
}

.searchBar:hover{
  transform: scale(1.1);
}

.searchBar:focus {
  border-color: #007BFF;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.suggestedPlayersDiv {
  display: flex;
  justify-content: center;
  flex-direction: row;
  max-height: 300px;
  overflow: scroll;
}

.suggestedPlayersDiv2 {
  display: flex;
  justify-content: right;
  flex-direction: row;
  max-height: 160px;
  margin-left: 15%;
  overflow: scroll;
}

.playersTable {
  max-width: 28%;
}

.playersRow {
  justify-content: center;
  display: flex;
  flex-direction: row;
  border: solid black 2px;
  border-radius: 7%;
  background-color: white;
  max-height: 90px;
  transition: transform 0.2s ease-in-out; /* Add transition property for smooth effect */
}

.playersRow2 {
  justify-content: center;
  display: flex;
  flex-direction: row;
  border: solid black 2px;
  border-radius: 7%;
  background-color: white;
  max-height: 90px;
  transition: transform 0.2s ease-in-out; /* Add transition property for smooth effect */
}

.playersRow:hover{
  background-color: #d9d9d9;
  cursor: pointer;
  transform: scale(1.1); /* Increase the size on hover */
}
.playersRow2:hover{
  background-color: #d9d9d9;
  cursor: pointer;
  transform: scale(1.1); /* Increase the size on hover */
}

.teamLogoCell {
  text-align: center;
  width: 20%;
  margin-left: -15%; /* Reduce the margin to align the logo */
  margin-top: 2%;
}

.teamLogo {
  max-width: 75%;
}

.playerNameCell {
  font-size: 140%;
  margin-top: 4%;
  width: 40%;
  margin-right: 2%; /* Reduce the margin to align the name */
}

.playerPositionCell {
  font-size: 120%;
  margin-top: 5%;
  margin-left: -2%;
  margin-right: -14%;
  color: #6f6e6e;
}

.playerStatsPage{
  background-color: black;
}

#secondaryLogo{
  width: 10%;
  top: 5%;
  cursor: pointer;
}

.searchBarBigDiv{
  position: absolute;
  top: 6%;
  right: 5%;
}

.searchBar2 {
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 16px;
  text-align: center;
  padding: 20px;
  font-family: 'Norwester-Regular';
  transition: 0.5s ease;
  margin-right: 3%;
}

.searchBar2:hover{
  transform: scale(1.1);
}

.pageHeader {
  display: flex; /* Use flexbox to align items horizontally */
  justify-content: center;
  margin-right: 9%;
  align-items: center; /* Vertically center items */
  margin-top: -5%;
}

.headerLogo {
  max-width: 10%;
  margin-right: 35px; 
}

.playerName {
  color: white;
  font-size: 420%;
  font-weight: 1;
}

.pageContent{
  display: flex;
  justify-content: center;
  margin-left: 18%;
}

.biographyDiv{
  color: white;
  font-size: larger;
  margin-left: -40%;
  margin-top: 0.4%;
}

.biographyTitle{
  margin-bottom: 0.4%;
  font-weight: 1;
  font-size: larger;
}

.biographyTable{
  border: solid #00BF63 2px;
  padding: 1%;
  min-height: 220px;
  min-width: 250px;
}

.playerTeam{
  display: flex;
  margin-left: 10%;
  justify-content: left;
  border-bottom: solid #00BF63 1px;
  margin-right: 10%;
}

.playerTeamlbl{
  margin-right: 3%;
}

.playerTeamName{
  text-align: right;
}

.playerPosition{
  display: flex;
  margin-left: 10%;
  margin-right: 10%;
  justify-content: center;
  border-bottom: solid #00BF63 1px;
}

.playerPositionlbl{
  margin-left: -10%;
  margin-right: 21%;
}

.playerHeight{
  display: flex;
  margin-left: 10%;
  margin-right: 10%;
  justify-content: center;
}

.playerHeightlbl{
  margin-left: -14%;
  margin-right: 36%;
}


.statsDiv{
  margin-left: 5%;
  margin-right: 10%;
  margin-top: 1%;
}

.statsTitle {
  margin-right: 15%; 
  margin-left: 7%;
  color: white;
  font-weight: 1;
  font-size: larger;
}

.statsTableHeader{
  margin-left: -10%;
  display: flex;
  justify-content: center;
}

.lastGamesLabel {
  color: white;
  margin-left: -10%;
  margin-right: 1%;
  width: 19%
}

.lastGamesInput {
  width: 10%;
  font-size: large;
  height: 4%;
  margin-right: 6%;
  margin-top: 2%;
  font-family: 'Norwester-Regular';
}

/* Hiding arrows from game count input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.vsLabel{
  color: white;
  margin-left: -5%;
  margin-right: 1%;
}

.rivalSelection{
  height: 30px;
  width: 170px;
  margin-top: 1.5%;
  font-family: 'Norwester-Regular';
}

.refreshButton{
  height: 18%;
  width: 8%;
  margin-right: -10%;
  margin-left: 3%;
}

.refreshButton:hover{
  cursor: pointer;
}

.statsTable{
  border: solid #00BF63 2px;
  color: white; 
  margin-top: -4%;
}

.topStatsRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 5%;
  margin-bottom: -1%;
}

.pointsCell {
  border-bottom: solid #00BF63 1px;
  margin-left: 7%;
  display: flex;
  justify-content: center;
  width: 100%;
}

.alternateCell1 {
  margin-left: 7%;
  display: flex;
  justify-content: center;
  width: 100%;
}

.alternateCell1:hover{
  background-color: #1d1d1d;
  cursor: pointer;
}

.pointsCell:hover{
  background-color: #1d1d1d;
  cursor: pointer;
}

.freeThrowsLabel {
  font-size: 120%;
  display: flex;
  justify-content: center;
}

.pointsLabel {
  font-size: 120%;
  display: flex;
  justify-content: center;
  margin-top: 27%;
}

.cellNumber{
  color: #00BF63;
  font-size: 300%;
  margin-top: 15%;
  margin-left: 15%;
  margin-bottom: 10%;
}

.spacerCell {
  width: 100px;
}

.freeThrowsCell{
  display: flex;
  justify-content: center;
  border-bottom: solid #00BF63 1px;
  margin-right: 5%;
  width: 120%;
}

.alternateCell2{
  display: flex;
  justify-content: center;
  margin-right: 5%;
  width: 120%;
}

.alternateCell2:hover{
  background-color: #1d1d1d;
  cursor: pointer;
}

.freeThrowsCell:hover{
  background-color: #1d1d1d;
  cursor: pointer;
}

#PRALabel{
  margin-left: 10%;
  margin-top: 26%;
}

.graphSection{
  margin-left: -7%;
  margin-right: -20%;
  margin-top: 0.5%;
}

.graphLabel{
  color: white;
  margin-left: 5%;
  font-size: larger;
}

.graphDiv{
  margin-left: 5%;
  margin-top: -3%;
  border: 2px solid #00BF63;
  padding-left:3%;
  padding-right:1%;
  padding-left: 11%;
  padding-bottom:7%;
  max-width: 390px;
  min-width: 280px;
  max-height: 270px;
  overflow: scroll;
}

/* Phone screens */
@media only screen and (max-width: 768px){
  .homePageLogoDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 35%;
  }
  
  .homePageLogo {
    min-width: 320px;
    min-height: 100px;
    max-height: 100px;
    max-width: 320px;
  }

  .searchBarDiv {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .searchBar {
    max-width: 250px;
    height: 10px;
  }

  .suggestedPlayersDiv{
    justify-content: center;
    justify-self: center;
    margin-top: 1%;
    margin-left: 5%;
    display: flex;
    flex-direction: row;
    width: 300px;
    background-color: red;
  }

  .playersRow{
    width: 250px;
    font-size: small;
    text-align: center;
  }

  .searchBarDiv2{
    margin-top: 18%;
  }

  .suggestedPlayersDiv2{
    max-height: 100px;
    margin-right: -10%;
  }

  .pageHeader{
    width: 300px;
    display: flex;
  }

  .playersRow2{
    width: 170px;
    font-size: small;
  }

  #secondaryLogo{
    width: 120px;
    margin-left: -3%;
  }

  .searchBar2{
    max-width: 100px;
    max-height: 5px;
    margin-top: -20%;
    margin-right: -10%;
  }

  .pageHeader{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .headerLogo{
    margin-top: 20%;
    max-width: 35%;
    position: absolute;
    opacity: 35%;
    z-index: 0;
    margin-left: 20%;
  }

  .playerName{
    margin-top: 15%;
    margin-left: 5%;
    font-size: 280%;
    z-index: 1;
  }

  .pageContent{
    display: flex;
    flex-direction: column;
    width: 180px;
  }

  .biographyDiv{
    margin-left: 0%;
    margin-top: -10%;
    width: 200px;
  }

  .biographyTitle{
    font-size: 250%;
  }

  .biographyTable{
    min-height: 200px;
    min-width: 230px;
  }

  .statsDiv{
    margin-top: 5%;
    margin-left: -25%;
  }

  .statsTitle{
    margin-right: 2%;
    margin-left: 20%;
    margin-top: 20%;
    font-size: 250%;
  }

  .lastGamesLabel{
    margin-top: 25%;
    margin-left: 10%;
    margin-right: -15%;
  }

  .lastGamesInput{
    width: 50px;
    margin-top: 30%;
    margin-left: 25%;
  }

  .vsLabel{
    margin-top: 31%;
  }

  .rivalSelection{
    margin-top: 28%;
    margin-right: -45%;
    width: 50px;
  }

  .statsTable{
    margin-top: -20%;
    display: flex;
    justify-content: center;
    width: 340px;
  }

  .graphSection{
    margin-left: -39%;
    margin-top: -20%;
  }

  .graphLabel{
    margin-top: 30%;
    margin-bottom: 5%;
    font-size: 250%;
  }

  .graphDiv{
    padding: 12%;
    padding-left: 6%;
    width: 300px;
  }
}
