/* PlayerSearch.css */
.PlayerSearch {
    background-color: #f0f0f0; /* Light gray background */
    color: #333; /* Dark text color */
    font-family: Arial, sans-serif;
    padding: 20px;
    text-align: center;
    border-radius: 10px; /* Rounded corners for the container */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Drop shadow for the container */
    max-width: 400px; /* Limit the width of the container */
    margin: 0 auto; /* Center the container horizontally */
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    max-width: 300px; /* Limit input width */
    margin-bottom: 10px; /* Add some space below the input */
  }
  
  button {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    max-width: 300px; /* Limit button width */
  }
  
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  .player-item {
    font-size: 18px;
    margin: 5px 0;
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  .player-item:hover {
    color: #007bff;
  }
  